.chat-screen {
  background-color: var(--brown-color);
}

.chat-screen_top {
  width: 100%;
  background-color: var(--brown-color);
  position: fixed;
  top: 30px;
  left: 0;
}

.chat-screen_body {
  background-color: var(--brown-color);
  padding-top: 60px;
}

.chat-friend_name {
  display: flex;
  justify-content: center;
}
