/* .login-body {
  background-color: var(--basic-color);
} */

.login-box {
  background-color: #fff8f2;
  width: 80%;
  height: 86%;
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcom-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.welcom-header__logo {
  width: 30vw;
}

.welcom-header__title {
  margin: 20px;
  font-size: 50px;
  color: var(--basic-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
  position: relative;
}

.login-form__input {
  background-color: #f4e7d4;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.login-form__input input {
  background-color: #f4e7d4;
  border: 0;
  width: 100%;
  font-weight: 600;
}

.login-form input::placeholder {
  color: var(--brown-color);
  font-size: 15px;
  font-family: var(--font-basic);
}

.login-form input:focus {
  outline: none;
}

.login-form__input__icon {
  margin-right: 8px;
}

.login-form__btn {
  background-color: var(--basic-color);
  color: white;
  cursor: pointer;
  margin-top: 15px;
  padding: 20px 0px;
  border-radius: 15px;
  border: none;
  margin-bottom: 25px;
  font-size: 20px;
}

.login-form__btn input {
  font-weight: 600;
}

.login-form__a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: var(--basic-color);
  gap: 40px;
  margin-top: 15px;
}

.login-form__password {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.login-form__a a {
  text-decoration: none;
  color: var(--main-color);
}
