@import "./screens/login.css";
@import "./components/status-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/nav-bar.css";
@import "./components/badge.css";
@import "./screens/chat.css";
@import "./screens/friends.css";
@import "./screens/more.css";
@import "./screens/settings.css";
@import "./screens/shopping.css";

:root {
  --basic-color: #f66845;
  --background-color: #f7f0e4;
  --brown-color: #a58164;
  --horizontal-space: 25px;
  --basic-font-size: 20px;
  --stick-border: 1px solid rgba(26, 19, 19, 0.2);
  --black-color: #2e363e;
  --gray-color: rgba(0, 0, 0, 0.5);
  --font-point: "Jua", sans-serif;
  --font-basic: "Lato", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-basic);
  font-weight: 600;
  height: 100vh;
  background-color: var(--background-color);
}

h1 {
  font-family: var(--font-point);
}

.link {
  text-decoration: none;
  color: inherit;
}
